extends _layout.pug
block vars
	- var page_class = "service_page mask";
	- var page_title = "面膜生產";


block page_pluginStyle

block popup

block content
	.page_wrap(class=page_class)
		//- .m_mask
		// =========================================================================
		// .page_section.page_main-hd  START
		section.page_section.page_main-hd
			.page_main-hd-inner.text-center
				h2.title #{page_title}
				.lizz_breadcrumb
					ul.cf.lis-n
						li.lizz_breadcrumb-item
							a(href="./").inner 首頁
						li.lizz_breadcrumb-item.current
							.arrow /
							a(href="javascript:;").inner #{page_title}
		// section.page_section.page_main-hd  END  !!
		// =========================================================================
		// article.page_section.page_main-bd  START
		article.page_section.page_main-bd.service_article
			.container
				section.main_section.service_article-top.mask_article-top
					.row
						.col-md-4
							.service_article-top-pic.img-style1
								.img_div
									img(src="./public/images/services/service6.jpg")
						.col-md-7.offset-md-1.d-flex
							.service_article-top-content.mask_article-top-content.align-self-center
								.txt_block
									p.txt 憑藉20年以上的面膜製造經驗和近68種面膜配方資料庫，面膜的開發可符合業主各種需要，例如抗老、美白或保濕的訴求。
									p.txt 面膜布可選擇各種款式，包含不織布、木漿紙、棉籽絨、蠶絲或生物纖維等；精華液無論是敏感性、油性肌膚或易長痘痘膚質，甚至熟齡及混合性肌膚都能針對產品開發的需要設計，關鍵是讓濃縮的精華液，能夠完整的透過浸濕的布膜完全滲入皮膚，達到產品訴求。
									p.txt 此外在提升產品的良好體驗上，還可依業主需求設計開發製造，例如香味、外觀變化等。功能訴求上也可添加不同的有效成分，例如:玻尿酸、傳明酸、維他命C、神經醯胺、胜肽、膠原蛋白、Q10、蘆薈、植物萃取，都可強化產品的市場獨特性。
									p.txt 客戶亦可自行提供膜布或外包裝設計，也可請我們幫忙代採購或設計。
				// section.main_section.service_article-top  END  !!
				section.main_section.service_article-section.new_formulas
					h3.main_section-heading 依客戶需求開發新配方
					.row
						.col-md-6.service_article-block
							.new_formulas-inner
								.img_div
									img(src=PATH_IMG + "services/service7.jpg")
								.content
									p.txt.txt-secondary 添加不同功效和產品訴求如：
									p.txt.mb-0 洋甘菊、膠原蛋白、鮫鯊烯、玻尿酸、傳明酸、胺基酸、多胜肽、天然保濕因子、維他命C等有效原料。
						.col-md-6.service_article-block
							.new_formulas-inner
								.img_div
									img(src=PATH_IMG + "services/service8.jpg")
								.content
									p.txt.txt-secondary 依照顧客配方開發：
									p.txt.mb-0 如面膜原液、香氣、袋型、膜布剪裁等。
				// section.main_section.service_article-top  END  !!
				section.main_section.service_article-section.RnD_advantage
					h3.main_section-heading 生產研發優勢
					.row
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-molecule.svg")
								p.txt 配方穩定性
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-target.svg")
								p.txt 做市場區隔定位
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-flask.svg")
								p.txt 選用指標原料廠原物料
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-star.svg")
								p.txt 純水設備紫外線殺菌，符合保養品等級
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-atom.svg")
								p.txt 成熟的配方及科學應用
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-coronavirus.svg")
								p.txt 製程無交叉感染
						.col-md-4.service_article-block
							.RnD_advantage-inner
								.icon
									img(src=PATH_IMG + "icons/icon-settings.svg")
								p.txt 自動化設備

				// section.main_section.service_article-top  END  !!
		// article.page_section.page_main-bd  END  !!



block page_script
	script(src="./public/js/page/service.js?v=" + version)

